<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<%= form_for(:session, url: sessions_path) do |s| %>

	<div class="field_group">
		<%= s.label :name %><br>
		<%= s.text_field :name %>
	</div>
	<div class="field_group">
		<%= s.label :password %><br>
		<%= s.password_field :password %>
	</div>

	<div class="field_group">
		<%= s.submit "Sign in", class: "btn btn-large btn-primary" %>
	</div>

<% end %>

<div class="bottom_stuff">New user? <%= link_to "Sign up now!", signup_path %></div>
