<% provide(:title, 'Change Password') %>

<h1>Change <%=@person.name%>'s password:</h1>

<%= form_for(@person) do |p| %>

	<%= render partial: 'shared/error_messages', object: @person %>

	<%= render partial: 'password_fields', object: p %>

	<%= p.submit "Apply changes", class: "btn btn-large btn-primary" %>

<% end %>
