<% provide(:title, 'Edit A Person') %>

<h1>Edit an existing person</h1>

<%= form_for(@person) do |p| %>

	<%= render 'shared/error_messages' %>

	<%= p.label :name %>
	<%= p.text_field :name %>

	<%= p.label :password %>
	<%= p.text_field :password %>

	<%= p.submit "Apply changes", class: "btn btn-large btn-primary" %>

<% end %>
