<% provide(:title, 'Create A Person') %>

<h1>Create a new person</h1>

<%= form_for(@person) do |p| %>

	<%= render partial: 'shared/error_messages', object: @person %>

	<%= person_field.label :name %>
	<%= person_field.text_field :name %>

	<%= render partial: 'password_fields', object: p %>

	<%= p.submit "Create this person", class: "btn btn-large btn-primary" %>

<% end %>
