<% provide(:title, 'Show People') %>
<h1><%= @person.name %></h1>

<h2><%= @person.name %>'s Actions:

<% if @person.actions.length == 0 %>
	None</h2>

<% else %>
	</h2>

	<table border="1">
		<tr>
			<th>ID</th>
			<th>Activity</th>
			<th>Created</th>
			<th>Modified</th>
		</tr>

		<% @person.actions.each do |p| %>
		<tr>
			<td><%= p.id %></td>
			<td><%= link_to p.activity.name, activity_path(p.activity.id) %></td>
			<td><%= p.created_at %></td>
			<td><%= p.updated_at %></td>
		</tr>
		<% end %>

	</table>
<% end %>

<br>
<a href="/people">Show all people</a> &nbsp; | &nbsp; <%= link_to "Delete this person", @person, method: :delete, data: { confirm: "Are you sure?" } %> &nbsp; | &nbsp; <%= link_to "Edit this person", edit_person_path(@person) %>