<% provide(:title, @person.name) %>
<<<<<<< HEAD
<h1><%= @person.name %></h1>

<h2><%= @person.name %>'s deed history:

<% if @person_deeds.length == 0 %>
	None</h2>

<% else %>
	</h2>

	<table>
		<tr>
			<th class="left">Activity</th>
			<% if signed_in_as_admin? %>
				<th>ID</th>
				<th>Created</th>
				<th>Modified</th>
			<% else %>
				<th>When</th>
			<% end %>
		</tr>

		<% @person_deeds.each do |p| %>
		<tr>
			<td class="left"><%= link_to p.activity.name, activity_path(p.activity.id) %></td>
			<% if signed_in_as_admin? %>
				<td><%= p.id %></td>
				<td><%= p.created_at %></td>
				<td><%= p.updated_at %></td>
			<% else %>
				<td><%= p.created_at.strftime("%d/%m/%y %H:%M") %></td>
			<% end %>
		</tr>
		<% end %>
=======

<h1><%= @person.name %></h1>

<h2>Deed history:
>>>>>>> 650c26413440577fee424ff1c5e2fbad243a6d7e

<%= render partial:'people/person_deeds_list', object_to_check: @person_deeds %>

<<<<<<< HEAD
<br><a href="/deeds/new" class="click_link">Add a deed</a>
<% if current_person?(@person) || signed_in_as_admin? %>
	&nbsp; | &nbsp; <%= link_to "Edit this person", edit_person_path(@person) %>
<% end %>
<% if signed_in_as_admin? %>
	&nbsp; | &nbsp; <%= link_to "Delete this person", @person, method: :delete, data: { confirm: "Are you sure?" } %> 
<% end %>
&nbsp; | &nbsp; <%= link_to "Show this week only", @person %>
=======
<%= link_to "Show this week only", @person %>
</div>
>>>>>>> 650c26413440577fee424ff1c5e2fbad243a6d7e
