<% provide(:title, @person.name) %>

<h1><%= @person.name %></h1>

<h2><%= @person.name %>'s Deeds:

<% if @person.deeds.length == 0 %>
	None</h2>

<% else %>
	</h2>

	<table>
		<tr>
			<th class="left">Activity</th>
			<% if signed_in_as_admin? %>
				<th>ID</th>
				<th>Created</th>
				<th>Modified</th>
			<% else %>
				<th>When</th>
			<% end %>
			<th>This week?</th>
		</tr>

		<tr><i>This week:</i> <%= Date.current.beginning_of_week.strftime("%d/%m/%y") %></tr>

		<% @person.deeds.each do |p| %>
		<tr>
			<td class="left"><%= link_to p.activity.name, activity_path(p.activity.id) %></td>
			<% if signed_in_as_admin? %>
				<td><%= p.id %></td>
				<td><%= p.created_at %></td>
				<td><%= p.updated_at %></td>
			<% else %>
				<td><%= p.created_at.strftime("%d/%m/%y %H:%M") %></td>
			<% end %>
			<td><%= p.created_this_week? %></td>
		</tr>
		<% end %>

	</table>
<% end %>

<br><a href="/deeds/new" class="click_link">Add a deed</a>
<% if current_person?(@person) || signed_in_as_admin? %>
	&nbsp; | &nbsp; <%= link_to "Edit this person", edit_person_path(@person) %>
<% end %>
<% if signed_in_as_admin? %>
	&nbsp; | &nbsp; <%= link_to "Delete this person", @person, method: :delete, data: { confirm: "Are you sure?" } %> 
<% end %>