<% provide(:title, 'Show An Action') %>
<h1> This Action's Info:</h1>
<table cellpadding="5">
	<tr>
		<th>Person ID</th>
		<td><%= @action.person_id %></td>
	</tr>
	<tr>
		<th>Person Name</th>
		<td><%= @action.person.name %></td>
	</tr>
	<tr>
		<th>Activity ID</th>
		<td><%= @action.activity_id %></td>
	</tr>
	<tr>
		<th>Activity Name</th>
		<td><%= @action.activity.name %></td>
	</tr>
	<tr>
		<th>When Created</th>
		<td><%= @action.activity.created_at %></td>
	</tr>
</table>

<!-- The following block of code is commented out:  *********
<% if false %>
<h2>Times when <%= @action.name %> has been performed:
<!-- How to do a self-referential lookup (inner join with itself)?
		Would have to specify this in models/actions.rb then rake db?

<% if @action.SOMETHING.length == 0 %>
	None</h2>

<% else %>
	</h2>

	<table border="1">
		<tr>
			<th>ID</th>
			<th>Activity</th>
			<th>Created</th>
			<th>Modified</th>
		</tr>

		<% @action.actions.each do |p| %>
		<tr>
			<td><%= p.id %></td>
			<td><%= link_to p.activity.name, activity_path(p.activity.id) %></td>
			<td><%= p.created_at %></td>
			<td><%= p.updated_at %></td>
		</tr>
		<% end %>

	</table>
<% end %>
<% end %>
***** This is the end of the commented-out code -->

<br>
<a href="/actions">Show all actions</a> &nbsp; | &nbsp; <%= link_to "Delete this action", @action, method: :delete, data: { confirm: "Are you sure?" } %> &nbsp; | &nbsp; <%= link_to "Edit this action", edit_action_path(@action) %>