<% provide(:title, 'Show All Deeds') %>
<h1>All Deeds</h1>

<table>
	<tr>
		<th class="left person">Person</th>
		<th class="left">Activity</th>
		<th>Pts</th>
		<% if signed_in_as_admin? %>
			<th>ID</th>
			<th>Created</th>
			<th>Modified</th>
			<th>Performed at</th>
		<% else %>
			<th class="date">When</th>
		<% end %>
	</tr>

	<% @deeds.each do |a| %>
	<tr>
		<td class="left"><%= link_to a.person.name, person_path(a.person.id) %></td>
		<td class="left"><%= link_to a.activity.name, activity_path(a.activity.id) %></td>
		<td class="center"><%= a.points %></td>
		<% if signed_in_as_admin? %>
			<td><%= a.id %></td>
			<td><%= a.created_at %></td>
			<td><%= a.updated_at %></td>
			<td><%= if a.performed_at.present? then a.performed_at end %></td>
			<td><%= link_to "Edit", edit_deed_path(a.id) %></td>
			<td><%= link_to "Delete", a, method: :delete, data: { confirm: "Are you sure?" } %></td>
		<% else %>
			<td><%= a.performed_at %></td>
		<% end %>
	</tr>
	<% end %>

</table>

<br><a href="/deeds/new" class="click_link">Add a deed</a>