<% provide(:title, 'Show All Deeds') %>
<h1>All Deeds</h1>

<table cellpadding="5">
	<tr>
		<th>ID</th>
		<th>Person</th>
		<th>Activity</th>
		<th>Created</th>
		<th>Modified</th>
	</tr>

	<% @deeds.each do |a| %>
	<tr>
		<td><%= a.id %></td>
		<td><%= link_to a.person.name, person_path(a.person.id) %></td>
		<td><%= link_to a.activity.name, activity_path(a.activity.id) %></td>
		<td><%= a.created_at %></td>
		<td><%= a.updated_at %></td>
		<% if signed_in_as_admin? %>
			<td><%= link_to "Edit", edit_deed_path(a.id) %></td>
			<td><%= link_to "Delete", a, method: :delete, data: { confirm: "Are you sure?" } %></td>
		<% end %>
	</tr>
	<% end %>

</table>

<br><a href="/deeds/new">Add a deed</a>