<% provide(:title, 'Create A Deed') %>

<h1>Create a new deed for <%= @deed.person.name %></h1>

<%= form_for(@deed) do |a| %>

  <% if signed_in_as_admin? %>
    <%= a.label "Person:" %>
    <%= a.collection_select(:person_id, Person.all, :id, :name) %>
  <% else %>
  	<%= a.hidden_field(:person_id) %>
  <% end %>

	<%= a.label "Activity:" %>
	<%= a.collection_select(:activity_id, Activity.all, :id, :name) %>
	
	<br><br>

	<%= a.submit "Create this deed", class: "btn btn-large btn-primary" %>

<% end %>
