<% provide(:title, 'Show An Deed') %>
<h1> This Deed's Info:</h1>
<table cellpadding="5">
	<tr>
		<th>Person ID</th>
		<td><%= @deed.person_id %></td>
	</tr>
	<tr>
		<th>Person Name</th>
		<td><%= @deed.person.name %></td>
	</tr>
	<tr>
		<th>Activity ID</th>
		<td><%= @deed.activity_id %></td>
	</tr>
	<tr>
		<th>Activity Name</th>
		<td><%= @deed.activity.name %></td>
	</tr>
	<tr>
		<th>When Created</th>
		<td><%= @deed.activity.created_at %></td>
	</tr>
</table>

<!-- The following block of code is commented out:  *********
<% if false %>
<h2>Times when <%= @deed.name %> has been performed:
<!-- How to do a self-referential lookup (inner join with itself)?
		Would have to specify this in models/deeds.rb then rake db?

<% if @deed.SOMETHING.length == 0 %>
	None</h2>

<% else %>
	</h2>

	<table border="1">
		<tr>
			<th>ID</th>
			<th>Activity</th>
			<th>Created</th>
			<th>Modified</th>
		</tr>

		<% @deed.deeds.each do |p| %>
		<tr>
			<td><%= p.id %></td>
			<td><%= link_to p.activity.name, activity_path(p.activity.id) %></td>
			<td><%= p.created_at %></td>
			<td><%= p.updated_at %></td>
		</tr>
		<% end %>

	</table>
<% end %>
<% end %>
***** This is the end of the commented-out code -->

<br>
<a href="/deeds">Show all deeds</a> &nbsp; | &nbsp; <%= link_to "Delete this deed", @deed, method: :delete, data: { confirm: "Are you sure?" } %> &nbsp; | &nbsp; <%= link_to "Edit this deed", edit_deed_path(@deed) %>