<% provide(:title, 'Show All Activites') %>
<h1>List of All Activities</h1>

<table>
	<tr>
		<th class="left">Name</th>
		<th class="left">Category</th>
		<th>Points</th>
		<th># of Deeds</th>
		<% if signed_in_as_admin? %>
			<th>Created</th>
			<th>Modified</th>
			<th>ID</th>
		<% end %>
	</tr>

	<% @activities.each do |t| %>
	<tr>
		<td class="left"><%= link_to t.name, activity_path(t.id) %></td>
		<td class="left"><%= t.category %></td>
		<td><%= t.points %></td>
		<td><%= t.deeds.length %></td>
		<% if signed_in_as_admin? %>
			<td><%= t.created_at %></td>
			<td><%= t.updated_at %></td>
			<td><%= t.id %></td>
			<td><%= link_to "Edit", edit_activity_path(t.id) %></td>
			<td><%= link_to "Delete", t, method: :delete, data: { confirm: "Are you sure?" } %></td>
		<% end %>
	</tr>
	<% end %>

</table>

<br><a href="/people" class="click_link">Show all people</a>

<% if signed_in_as_admin? %>
	&nbsp; | &nbsp; 
	<a href="/activities/new" class="click_link">Create new activity</a>
<% end %>