<!DOCTYPE html>
<html>
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= yield(:title) %></title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>

	<div class="container-fluid">
		<div class="row">

			<!-- Sidebar: -->
			<div class="col-xs-3 col-sm-2 sidebar">
				<%= render 'layouts/sidebar' %>
			</div>

			<!-- Main: -->
			<div class="col-xs-10 col-xs-offset-2 col-sm-10 col-sm-offset-2 main">

					<% flash.each do |key, value| %>
					<div class="alert alert-<%= key %>"><%= value %></div>
					<% end %>
					<%= yield %>
			</div>
		</div>

		<!-- Debug info: -->
		<% if signed_in_as_admin? %>
			<div class="row">
				<div class="col-xs-9 col-xs-offset-2 col-sm-10 col-sm-offset-2 main">
					<%= debug(params) if Rails.env.development? %>
					<%= params.inspect %>
				</div>
			</div>
		<% end %>
	</div>

</body>
</html>
